# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# For redirect after email verification
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=http://localhost:3000/auth/callback

# NVIDIA API Keys for AI Insights
NVIDIA_API_KEY=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
BGE_API_KEY=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
